:root {
  --deftraback: rgba(9, 123, 229, .2) !important;
  --rounding: 3px;
  --accent: #3cacff;
}

/*首页导航*/
.skinHeader-withBackground,.skinHeader.semiTransparent {
    background-color: #fffc;
    color: #333;
    color: rgba(0, 0, 0, .87);
    -webkit-backdrop-filter:blur(7px);
    backdrop-filter:blur(7px);
}

.backgroundContainer.withBackdrop {
    backdrop-filter: blur(5px);
}
.emby-tab-button-active {
    color: #000000;
}
.pageTitleWithDefaultLogo {
    background-image: url(http://192.168.31.140:8096/web/assets/img/banner-dark.png);
}

/*节目详情*/
.layout-desktop .detailRibbon {
    height: auto;
    margin-top: 0;
}
.layout-desktop .detailPagePrimaryContainer {
    padding: 15px 15px 15px 32.45vw;
}
.detailRibbon {
    background-color: #ffffff6e;
    color: rgb(0,0,0);
}
.layout-desktop .itemBackdrop:after {
    background: rgba(255, 255, 255, 0);
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    backdrop-filter: blur(0px);
}
.itemBackdrop {
    height: 90vh;
}
.layout-desktop .detailPagePrimaryContainer {
    padding: 15px 15px 15px 45px;
}
.layout-desktop .detailImageContainer .card {
    top: -500%;
}
.cardBox:not(.visualCardBox) .cardPadder, .cardContent-shadow {
    box-shadow: none;
}
.paper-icon-button-light:hover:not(:disabled) {
    color: #fdfdfd;
    background-color: rgb(0 0 0 / 50%);
}
.countIndicator, .fullSyncIndicator, .mediaSourceIndicator, .playedIndicator {
    background: #00000094;
}
.countIndicator, .playedIndicator {
    box-shadow: none;
}

/*剧集*/
.playstatebutton-icon-played {
    color: #007aff;
}

.detailPageContent {
    padding:2%;
}

.listItem[data-type="Audio"] .mediaInfoItem::after {
  display: none !important;
}

.listItem[data-type="Audio"] .listItem-indexnumberleft {
  padding-left: 5px;
}

#itemDetailPage .vertical-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding: 0;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  justify-content: space-evenly;
  -webkit-box-orient: horizontal;
  margin: -6px;
  width: 100%;
}


.listItemImage-large-tv {
  width: 100%;
  height: 31vh;
}

.layout-tv #itemDetailPage .itemName.infoText.parentNameLast {
  display: block;
}

.listItem-withContentWrapper:hover
  .listItemImageButton.itemAction.paper-icon-button-light {
  opacity: 100%;
}

@media (max-width: 1291px) {
  #itemDetailPage .vertical-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 991px) {
  #itemDetailPage .vertical-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

.listItem-withContentWrapper {
  transition: none;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  max-width: 100%;
  margin: 6px;
  border-radius: var(--rounding);
  overflow: hidden;
  padding: 0;
  overflow: hidden;
  -webkit-border-radius: var(--rounding);
  -moz-border-radius: var(--rounding);
  -ms-border-radius: var(--rounding);
  -o-border-radius: var(--rounding);
}

.listItem-withContentWrapper:hover {
  background: transparent;
}

.listItem-content {
  height: 100%;
}

div:not(.paperList) .listItem {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  border-radius: 0;
}

.listItem-content {
  display: flex;
  align-items: flex-start;
  width: 100%;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
}

.listItemImage.listItemImage-large.itemAction.lazy {
  height: 14rem;
  width: 100%;
  padding: 0 !important;
  margin: 0 !important;
  top: 0;
  left: 0;
  border-radius: 0 !important;
  background-size: cover;
}

.listItemImage.listItemImage-large::after {
  content: "";
  background-image: -moz-
    oldlinear-gradient(bottom, rgba(0, 0, 0, 0.8) 5%, rgba(0, 0, 0, 0) 95%);
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.8) 5%,
    rgba(0, 0, 0, 0) 95%
  );
  position: absolute;
  bottom: 0;
  right: -0.5px;
  left: 0;
  height: 55px;
}

.layout-mobile #itemDetailPage .vertical-list {
  grid-template-columns: 100%;
  width: 90vw;
  margin: 0 auto !important;
}

.listItemIndicators {
  top: 0;
  right: 0;
}

.listItem-overview {
  font-size: 12px !important;
  line-height: 18px;
  font-weight: 400 !important;
  color: #a3a3a3 !important;
}

.listItemBodyText {
  margin: 0 !important;
  font-size: 16px;
  font-weight: 700;
}

.secondary.listItem-overview.listItemBodyText {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.layout-mobile .listItem-bottomoverview {
  padding: 0 10px;
}

.layout-mobile .itemsContainer {
  padding: 0 10px;
}

.layout-mobile .itemsContainer > *:last-child {
  padding-right: 10px !important;
}

.listItemBody.itemAction {
  padding: 0 5px;
}

.card[data-type="CollectionFolder"] .cardText {
  height: 3rem;
}

.defaultCardBackground {
  background: var(--deftraback) !important;
}

#itemDetailPage::-webkit-scrollbar-track-piece {
  background: rgb(20, 20, 20);
}

.listItemImageButton.itemAction.paper-icon-button-light {
  opacity: 0;
  color: var(--accent);
  transition: all 0.2s;
}

.layout-mobile .listItemImageButton.itemAction.paper-icon-button-light {
  opacity: 100% !important;
}

.layout-tv #itemDetailPage .vertical-list {
  grid-template-columns: 1fr;
}

.layout-tv .emby-scroller {
  overflow: hidden !important;
}

.layout-tv .listItem[data-type="Episode"] {
  padding: 7.5px !important;
}

.listItemImage-large-tv {
  width: 18% !important;
  height: auto !important;
  aspect-ratio: 16 / 9 !important;
}

.layout-tv .listItemBodyText {
  font-size: 100% !important;
}

.layout-tv .listItemBodyText.listItem-overview {
  line-height: 1.2;
}

.layout-tv .listItemImage.listItemImage-large::after {
  top: 0;
  bottom: 0;
  right: 0;
  left: auto;
  width: 55px;
  height: 100%;
  background: linear-gradient(to left, rgba(0, 0, 0, 0.8) 5%, transparent 95%);
}

.layout-tv .listItem:focus {
  transform: none !important;
  background: none !important;
}

/*间距*/
.itemsContainer>.card>.cardBox {
    margin-right: 8px;
}
.cardBox-bottompadded {
    margin-bottom: 10px;
}

.itemsContainer > .card > .cardBox {
  margin: 0 !important;
}

.sectionTitleContainer.flex {
  box-shadow: 0 0 black !important;
}

.emby-input,
.emby-textarea,
.emby-select {
  box-shadow: none !important;
  background: #ffffff26 !important;
  text-shadow: none !important;
  border: 1px solid #0000001f !important;
  padding: calc(1em - 2.5px) !important;
  color: #303030 !important;
  transition: 0.2s;
}
.inputLabel,
.selectLabel,
.textareaLabel {
  align-items: center;
}

.selectContainer {
  align-items: center;
}

label.selectLabel {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.inputLabel.inputLabelFocused,
.selectLabel.selectLabelFocused,
.textareaLabel.textareaLabelFocused {
  color: var(--accent) !important;
}
.listItemIcon.notifications {
  font-size: 2em;
}

.actionSheetMenuItem:hover {
  background: var(--deftraback) !important;
}

.emby-scrollbuttons {
  z-index: 0;
}

.sectionTitleContainer {
  z-index: -1;
}
.layout-mobile .emby-scroller {
  padding: 0 !important;
  overflow: auto !important;
}

.layout-mobile .innerCardFooter {
  width: 70%;
  margin: 0 3%;
}

.layout-mobile .cardOverlayButton {
  color: white !important;
  border: 2px solid var(--accent);
  margin: 0 2% 2% 0;
}

.layout-mobile .cardText {
  opacity: 1;
}

.cardBox {
  background: transparent !important;
  box-shadow: none;
  overflow: hidden;
  transition: all 0.15s;
}

.card {
  border-radius: var(--rounding);
  transition: 0.2s;
  z-index: 100;
}

@media (min-width: 25em) {
  .backdropCard {
    width: calc(50% - 10px);
  }
}

@media (min-width: 48.125em) {
  .backdropCard {
    width: calc(33.333333333333336% - 10px);
  }
}

@media (min-width: 75em) {
  .backdropCard {
    width: calc(25% - 10px);
  }
}

@media (min-width: 100em) {
  .backdropCard {
    width: calc(20% - 10px);
  }
}

@media (min-width: 156.25em) {
  .backdropCard {
    width: calc(16.666666666666668% - 10px);
  }
}

.portraitCard {
  width: calc(33.333333333333336% - 10px);
}

@media (min-width: 31.25em) {
  .portraitCard,
  .smallBackdropCard,
  .squareCard {
    width: calc(33.333333333333336% - 10px);
  }
}

@media (min-width: 43.75em) {
  .portraitCard,
  .squareCard {
    width: calc(25% - 10px);
  }
}

@media (min-width: 50em) {
  .portraitCard,
  .squareCard {
    width: calc(20% - 10px);
  }
}

@media (min-width: 75em) {
  .portraitCard,
  .squareCard {
    width: calc(16.666666666666668% - 10px);
  }
}

@media (min-width: 87.5em) {
  .portraitCard,
  .smallBackdropCard,
  .squareCard {
    width: calc(14.285714285714286% - 10px);
  }
}

@media (min-width: 100em) {
  .portraitCard,
  .squareCard {
    width: calc(12.5% - 10px);
  }
}

@media (min-width: 120em) {
  .portraitCard,
  .squareCard {
    width: calc(11.11111111111111% - 10px);
  }
}

@media (min-width: 131.25em) {
  .portraitCard,
  .squareCard {
    width: calc(10% - 10px);
  }
}

.card.show-animation:focus > .cardBox {
  transform: scale(1) !important;
}

.layout-mobile .card:hover {
  transform: none !important;
  box-shadow: none;
  background: none !important;
}

.layout-mobile .card:hover .cardScalable {
  border-radius: var(--rounding) !important;
}

.card:first-child {
  transform-origin: left !important;
}

.card:last-child {
  transform-origin: right;
}

.verticalSection:focus-within,
.verticalSection:hover {
  z-index: 50;
}

.card .cardScalable {
  border-radius: var(--rounding);
  overflow: hidden;
}

.card:hover .cardScalable,
.card:focus .cardScalable {
  border-radius: 0 !important;
}

.paper-icon-button-light.cardOverlayButton {
  background: rgba(20, 20, 20, .7);
  border-radius: 100% !important;
}

.cardOverlayButton {
    color: #ffffff;
}

.cardOverlayButton[data-action="resume"] {
  /*border: 2px solid #ffffffa6;*/
}
.cardText {
  opacity: 1;
  transition: 0.2s;
}

.card:hover .cardText,
.card:focus .cardText {
  opacity: 0;
}

.homeLibraryButton:hover,
.homeLibraryButton:focus,
.card:hover,
.card:focus {
  transform: scale(1.2) !important;
  -webkit-filter: none !important;
  filter: none !important;
  box-shadow: 0 0 20px #0000;
}
.layout-tv .homeLibraryButton:focus,
.layout-tv .card:focus {
  transform: none !important;
}

.layout-tv .card {
  border-radius: 10px !important;
  margin: 0px !important;
  background: transparent !important;
}

.layout-tv .card:focus {
  background: transparent !important;
}

.layout-tv .card[data-type="Actor"] {
  padding: 10px;
  position: relative;
  height: 16em;
}

.layout-tv .card[data-type="Actor"] .cardPadder {
  display: none !important;
}

.layout-tv .emby-scroller {
  overflow: hidden !important;
}

.layout-tv .card::before,
.layout-tv .emby-tab-button::before,
.layout-tv .paper-icon-button-light::after,
.layout-tv .listItem::after,
.layout-tv .raised::after,
.layout-tv #itemDetailPage .emby-button::after {
  box-sizing: border-box;
  content: "";
  width: 100%;
  height: 100%;
  background: transparent;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  border: 3px solid white;
  transform: translateY(100%);
  visibility: hidden;
  z-index: 1000;
  will-change: transform;
  transition: all 0.275s;
  border-radius: 10px;
}

.layout-tv .raised::after {
  transition: transform 0.275s, visiblity 0s 0.275s;
}

.layout-tv .cardBox {
  height: 100%;
  padding: 8px !important;
}

.layout-tv .card:focus::before,
.layout-tv .emby-tab-button:focus::before,
.layout-tv .paper-icon-button-light:focus::after,
.layout-tv .listItem:focus::after,
.layout-tv a.show-focus[is="emby-linkbutton"]:focus > .listItem::after,
.layout-tv .raised:focus::after,
.layout-tv #itemDetailPage .emby-button:focus::after {
  transform: translateX(0) !important;
  visibility: visible;
}
.layout-tv .card:focus ~ .card::before,
.layout-tv .emby-tab-button:focus ~ .emby-tab-button::before,
.layout-tv .paper-icon-button-light:focus ~ .paper-icon-button-light::after,
.layout-tv .raised:focus ~ .raised::after,
.layout-tv #itemDetailPage .emby-button:focus ~ .emby-button::after {
  transform: translateX(-100%) !important;
}

.layout-tv .verticalSection:focus-within ~ .verticalSection .card::before,
.layout-tv .verticalSection:focus-within ~ .section5 .card::before,
.layout-tv .listItem:focus ~ .listItem::after,
.layout-tv
  a.show-focus[is="emby-linkbutton"]:focus
  ~ a.show-focus[is="emby-linkbutton"]
  > .listItem::after,
.layout-tv .verticalSection:focus-within ~ .verticalSection .raised::after {
  transform: translateY(-100%);
}

.layout-tv .verticalSection:focus-within .card::before,
.layout-tv *:focus-within > .emby-tab-button::before,
.layout-tv *:focus-within > .paper-icon-button-light::after,
.layout-tv *:focus-within > .raised::after,
.layout-tv #itemDetailPage *:focus-within > .emby-button::after {
  transform: translateX(100%);
}

.layout-tv .emby-tab-button:focus,
.layout-tv .paper-icon-button-light:focus,
.layout-tv .emby-button:focus {
  transform: none !important;
  background: none !important;
}

.layout-tv a.show-focus[is="emby-linkbutton"]:focus {
  transform: none !important;
}

.layout-tv .raised:focus {
  background: var(--accent) !important;
  transform: none !important;
}

.layout-tv div[data-role="page"]:not(#itemDetailPage)::after {
  background: rgb(20, 20, 20);
  overflow: visible;
  content: "";
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.homeLibraryButton,
.card:hover,
.card:focus {
  background-color: #fff0 !important;
}

.layout-tv .vertical-wrap .card::before {
  transform: none !important;
  visibility: visible;
  opacity: 0;
}

.layout-tv .vertical-wrap .card:focus::before {
  transform: none !important;
  opacity: 1;
}

.layout-tv .vertical-wrap .card:focus ~ .card::before {
  transform: none !important;
}

.layout-tv .card[data-type="Actor"] .cardText {
  position: absolute;
  background: transparent !important;
  opacity: 1;
  width: calc(100% - 10px);
  padding: 0 5px !important;
}

.layout-tv .card[data-type="Actor"] .cardText-first {
  bottom: 31.5px;
  height: 22px;
}

.layout-tv .card[data-type="Actor"] .cardText-secondary {
  bottom: 8px;
  border-radius: 0px 0px 10px 10px;
  height: 22px;
}

.layout-tv .card[data-type="Actor"] .cardScalable {
  overflow: hidden;
  border-radius: var(--rounding);
  height: inherit;
  padding-top: 0 !important;
}

.layout-tv .card[data-type="Actor"] .cardBox {
  padding: 0 !important;
}

.itemsContainer.padded-left.padded-right.padded-right-withalphapicker.vertical-wrap {
  padding: 0 !important;
  margin: 0 3.3% !important;
  width: 89vw !important;
}

.vertical-wrap {
  width: 100% !important;
}

.emby-scroller {
  overflow: visible !important;
}

.card,
.homeLibraryButton {
  margin: 5px;
}

.homeLibraryButton {
  z-index: 100;
}

.itemProgressBar {
  background: rgba(20, 20, 20, .5);
  height: 6px;
}

.itemProgressBarForeground {
  background: var(--accent);
}

.innerCardFooter {
  width: calc(100% - 12px);
  margin: 0 auto;
  position: absolute;
  bottom: 6px;
}

.itemsContainer {
  margin: 0 !important;
}

.homeLibraryButton:not(:hover),
.card:not(:hover) {
  z-index: 5;
}

.overflowSquareCard .cardImageContainer::before {
  content: "";
  background: inherit;
  width: 130%;
  height: 130%;
  position: absolute;
  top: 50%;
  left: 50%;
  background-size: cover;
  -webkit-filter: brightness(40%) blur(10px);
  filter: brightness(40%) blur(10px);
  z-index: 0;
  transform: translate(-50%, -50%);
}

.overflowSquareCard .cardImageContainer::after {
  content: "";
  background: inherit;
  z-index: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: 100%;
  transition: all 0.15s;
}

.paper-icon-button-light:hover:not(:disabled) {
  color: var(--accent);
  background: rgb(20, 20, 20);
}

.button-flat {
  border-radius: var(--rounding) !important;
  text-shadow: 0 0 10px rgba(20, 20, 20, .3);
}

#indexPage .homeLibraryButton {
  background: #101010 !important;
  transition: 0.2s;
}


.raised {
  background: var(--accent) !important;
  border-radius: var(--rounding) !important;
}

.mediaInfoItem {
  position: relative;
  margin-right: 16px;
  font-weight: 100;
}

.mediaInfoItem:not(:last-child):after {
  content: "";
  width: 1px;
  height: 100%;
  background: #7c7c7cee;
  position: absolute;
  right: -9px;
  border-radius: 10px;
}


.navMenuOption-selected {
  background: var(--accent) !important;
}

.listItem.listItem-border:hover {
  border-color: rgba(0, 0, 0, 0) !important;
  background: #3f3f3f;
}

.listItem.listItem-border {
  transition: border-color 0.2s, background 0.2s;
}

div#divRunningTasks:hover {
  transform: scale(1.1);
}

div#divRunningTasks {
  transition: transform 0.2s, background 0.2s;
}

.detailLogo,
.detailImageContainer .card {
  display: none;
}

.cardOverlayContainer {
    background: #4440;
}
